# -*- coding: utf-8 -*-
# vim: ft=yaml
#
# A simple example where every components are installed on the same machine
---
moosefs:
  master:
    enabled: true
    service:
      enabled: true

    config:
      # Enfore chunkserver authentication
      auth_code: yYyzqzZw5PvZ74pQAd8M1Uqa7PWGznlycVGTEzHDGG

  metalogger:
    enabled: true
    service:
      enabled: true

  chunkserver:
    enabled: true
    service:
      enabled: true

    config:
      # Enfore chunkserver authentication
      auth_code: yYyzqzZw5PvZ74pQAd8M1Uqa7PWGznlycVGTEzHDGG

      hdds:
        /srv/moosefs-storage: {}

  client:
    enabled: true

    config:
      mounts:
        "/mnt":
          device: "127.0.0.1:/"
          user: man
          group: nogroup
...
