# Managed by saltstack

{%- for keyword, argument in pillar.get('mfsmount_config').iteritems() %}
        {%- if argument is none %}
	{%- elif keyword is sameas "mfscachemode" %}
		{%- if argument is sameas true %}
mfscachemode=YES
		{%- elif argument is sameas false %}
mfscachemode=NO
		{%- else %}
mfscachemode={{ argument }}
		{%- endif %}
        {%- elif argument is sameas true %}
{{ keyword }}
        {%- elif argument is sameas false %}
        {%- elif argument is string or argument is number %}
{{ keyword }}={{ argument }}
        {%- else %}
                {%- for item in argument %}
{{ item }}
                {%- endfor %}
        {%- endif %}
{%- endfor %}

# The optional mfsmount.cfg file can be used to specify defaults for mfsmount.
# Default mount options can be specified on one line separated by commas or
# over several lines.
#
# Examples:
#
# nosuid,nodev
# mfsmaster=192.168.1.1
# mfspassword=secret
#
# The default mount point can also be set. The default mount point must begin 
# with a "/" and be a fully qualified path.
#
# Example:
#
# /mnt/mfs
